<section id="side-nav">
  <div id="side-nav-header">

  </div>

  <div id="side-nav-main">
    <ul>
      <li>Overview</li>
    <ul>
  </div>
</section>

<section id="top-bar">
  <div class="top-bar-container">
    <p class="dash-header">{{title}}</p>
  </div>
</section>

<section id="main-dash">
  <div class="main-dash-container">
    <p>Welcome to {{title}}</p>
  </div>
</section>
