
<section id="main-dash">
  <div class="main-dash-container" style="text-align: center;">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>

    <p>Loading, please wait...</p>
  </div>
</section>
