
<section id="main-dash">

  <!-- Loading Wheel section - displayed when loading -->
  <section id="section-loading">
    <div class="main-dash-container" style="text-align: center;">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>

      <p>Preparing Dashboard, please wait...</p>
    </div>
  </section>

  <!-- Overview section -->
  <section id="section-overview">
    <div class="main-dash-container" style="text-align: center;">
      <div class="chart-rows">

        <div class="chart-container">
          <canvas id="avg_load-chart" width="800" height="450"></canvas>
        </div>

        <div class="chart-container">
          <canvas id="mem_usage-chart" width="800" height="450"></canvas>
        </div>

        <div class="chart-container">
          <canvas id="disk_usage-chart" width="800" height="450"></canvas>
        </div>

      </div>
    </div>
  </section>
</section>
