<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <section id="side-nav">
      <div id="side-nav-header">

      </div>

      <div id="side-nav-main">
        <ul>
          <a href="/overview"><li id="nav-Overview">Overview</li></a>
          <a href="/settings"><li id="nav-Settings" >Settings</li></a>
        <ul>
      </div>
    </section>

    <section id="top-bar">
      <div class="top-bar-container">
        <p class="dash-header">{{title}}</p>
      </div>
    </section>

    {{{body}}}

    <script>
      var _page = "{{title}}";
    </script>

    <script src="/javascripts/socketJS.js"></script>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
